-
  var url = 'http://localhost:8000';

  var meta = {
    title: 'タイトル',
    description: '説明文',
    keywords: 'きーわーど,キーワード,keywords'
  }

  var og = {
    title: meta.title,
    type: 'website',
    description: meta.description,
    url: url,
    image: url + '/ogp.jpg'
  }

  var twitter = {
    card: 'summary_large_image',
    site: '@test',
    title: meta.title,
    description: meta.description
  }